In [1]:
#import libraries
import pandas as pd
import numpy as np

#load csv file data with headers

location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)
df.head(158957)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,-77.039715,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,-77.041055,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,-77.040129,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,-77.039903,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,-77.040081,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
10,10,3,0,Forced Air,N,3.0,12,5,1890.0,1950.0,...,-77.040760,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
11,11,5,0,Hot Water Rad,Y,3.0,16,6,1905.0,NaN,...,-77.039718,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
12,12,2,0,Hot Water Rad,N,2.0,9,5,1894.0,1979.0,...,-77.039569,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
13,13,2,0,Warm Cool,Y,2.0,11,5,1885.0,1979.0,...,-77.039644,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
14,14,3,1,Warm Cool,Y,2.0,5,3,1917.0,2000.0,...,-77.039716,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
15,15,2,1,Warm Cool,Y,2.0,9,4,1908.0,1990.0,...,-77.039784,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
16,16,3,1,Warm Cool,Y,1.0,8,3,1908.0,2006.0,...,-77.039844,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
17,17,2,0,Hot Water Rad,N,1.0,6,3,1908.0,1987.0,...,-77.039961,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
18,18,3,1,Hot Water Rad,Y,2.0,10,4,1908.0,2006.0,...,-77.040020,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
19,19,3,1,Hot Water Rad,Y,2.0,9,3,1908.0,2013.0,...,-77.040138,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
20,20,3,1,Hot Water Rad,Y,1.0,14,5,1880.0,2009.0,...,-77.033774,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
21,21,3,0,Forced Air,Y,2.0,12,3,1880.0,2009.0,...,-77.033838,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
22,22,1,0,Forced Air,Y,1.0,6,3,1880.0,2010.0,...,-77.033925,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
23,23,2,1,Forced Air,Y,1.0,5,3,1880.0,2010.0,...,-77.033972,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
24,24,2,1,Hot Water Rad,Y,1.0,8,3,1880.0,2004.0,...,-77.034070,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
25,25,1,0,Hot Water Rad,N,1.0,8,4,1880.0,2010.0,...,-77.034156,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
26,26,1,0,Hot Water Rad,N,1.0,10,5,1900.0,2004.0,...,-77.034258,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
27,27,3,0,Hot Water Rad,Y,4.0,9,3,1900.0,1963.0,...,-77.034182,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
28,28,3,0,Warm Cool,Y,2.0,10,4,1900.0,1960.0,...,-77.034119,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
29,29,3,1,Forced Air,Y,2.0,11,3,1900.0,2014.0,...,-77.034051,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158927,158927,2,0,Ht Pump,Y,NaN,6,3,1993.0,1993.0,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158928,158928,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158929,158929,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158930,158930,2,0,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158931,158931,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158932,158932,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158933,158933,2,0,Ht Pump,Y,NaN,4,2,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158934,158934,1,1,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158935,158935,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158936,158936,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158937,158937,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158938,158938,2,0,Warm Cool,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158939,158939,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158940,158940,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158941,158941,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158942,158942,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158943,158943,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158944,158944,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158945,158945,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158946,158946,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158947,158947,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158948,158948,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158949,158949,1,1,Forced Air,Y,NaN,4,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158950,158950,3,0,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158951,158951,3,1,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [2]:
df.shape

(158957, 49)

In [3]:
#show the data type of each column
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [4]:
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [5]:

df=pd.DataFrame(data=df, columns=['QUADRANT', 'PRICE','BEDRM', 'BATHRM', 'HF_BATHRM', 'CNDTN', 'AYB'])
#find columns that have missing values for Condition
df.isnull().sum()

QUADRANT       237
PRICE        60741
BEDRM            0
BATHRM           0
HF_BATHRM        0
CNDTN        52261
AYB            271
dtype: int64

In [6]:
df.count()

QUADRANT     158720
PRICE         98216
BEDRM        158957
BATHRM       158957
HF_BATHRM    158957
CNDTN        106696
AYB          158686
dtype: int64

In [7]:
df['QUADRANT'].value_counts()

NW    89736
NE    37675
SE    27224
SW     4085
Name: QUADRANT, dtype: int64

In [8]:
df['QUADRANT'].isnull().sum()

237

In [9]:
#fill missing values - add NW for missing values
df['QUADRANT'].fillna('NW', inplace=True)

In [10]:
df['QUADRANT'].isnull().sum()

0

In [11]:
df.shape

(158957, 7)

In [12]:
df.dropna()

       QUADRANT      PRICE  BEDRM  BATHRM  HF_BATHRM      CNDTN     AYB
0            NW  1095000.0      4       4          0       Good  1910.0
2            NW  2100000.0      5       3          1  Very Good  1910.0
3            NW  1602000.0      5       3          1       Good  1900.0
5            NW  1950000.0      5       3          2       Good  1913.0
7            NW  1050000.0      4       3          1    Average  1906.0
8            NW  1430000.0      3       3          1  Very Good  1908.0
14           NW  1325000.0      3       3          1  Very Good  1917.0
16           NW  1240000.0      3       3          1  Very Good  1908.0
19           NW   592250.0      3       3          1       Good  1908.0
20           NW    33232.0      5       3          1  Very Good  1880.0
22           NW   907400.0      3       1          0       Good  1880.0
23           NW  1065000.0      3       2          1  Very Good  1880.0
24           NW  1100000.0      3       2          1       Good  1880.0
25           NW    20000.0      4       1          0       Good  1880.0
27           NW   703700.0      3       3          0    Average  1900.0
29           NW  1210000.0      3       3          1  Very Good  1900.0
32           NW   130500.0      2       2          1       Good  1890.0
37           NW   339500.0      4       2          2       Good  1800.0
40           NW  1050000.0      4       3          1       Good  1800.0
41           NW  1550000.0      4       3          1  Very Good  1880.0
42           NW  1599900.0      4       3          1       Good  1890.0
43           NW  1700000.0      4       3          1  Excellent  1800.0
44           NW  1700000.0      4       3          2  Very Good  1800.0
45           NW   450000.0      5       3          1       Good  1890.0
46           NW   846000.0      4       3          1    Average  1800.0
48           NW   348500.0      3       2          1    Average  1976.0
50           NW   849000.0      3       2          1       Good  1976.0
52           NW  1312000.0      4       3          1       Good  1890.0
54           NW   390000.0      2       1          1       Good  1900.0
55           NW   772500.0      3       3          1       Good  1890.0
...         ...        ...    ...     ...        ...        ...     ...
106630       SE    60700.0      4       2          0    Average  1980.0
106631       SE   180000.0      4       2          0    Average  1980.0
106632       SE   285000.0      3       1          1       Good  1980.0
106633       SE    67100.0      4       2          0    Average  1980.0
106637       SE    73000.0      4       2          0    Average  1980.0
106638       SE   109950.0      4       2          0    Average  1980.0
106641       SE   350000.0      4       2          1       Good  1980.0
106642       SE    66675.0      3       1          1    Average  1980.0
106645       SE   180000.0      2       1          0    Average  1936.0
106646       SE   193000.0      2       1          0    Average  1938.0
106650       SE   336000.0      5       2          0       Good  1939.0
106651       SE    90000.0      2       1          1    Average  1939.0
106653       SE    90000.0      2       1          0       Good  1911.0
106654       SE   106000.0      2       1          0    Average  1911.0
106656       SE   227000.0      3       2          1       Good  1911.0
106657       SE   140496.0      3       2          1       Good  1911.0
106662       SE   120000.0      3       1          1    Average  1976.0
106663       SE   109256.0      3       1          1    Average  1976.0
106664       SE   230000.0      3       1          1       Good  1976.0
106666       SE   215000.0      3       1          1       Good  1976.0
106668       SE   205000.0      3       2          1    Average  1976.0
106672       SW   100000.0      6       3          0    Average  1954.0
106673       SW   103000.0      6       3          0       Good  1954.0
106682       SW   118000.0      8       3          0       Good  1953.0
106683       SW        1.0      6       3          0    Average  1953.0
106687       SW    95000.0      4       2          0    Average  1953.0
106688       SW   185000.0      4       2          0  Very Good  1953.0
106692       SW   100000.0      5       2          0    Average  1953.0
106694       SW   215000.0      4       2          0       Good  1953.0
106695       SW   140000.0      4       2          0  Very Good  1953.0

[57805 rows x 7 columns]

In [13]:
#columns left in our dataframe
df.columns

Index(['QUADRANT', 'PRICE', 'BEDRM', 'BATHRM', 'HF_BATHRM', 'CNDTN', 'AYB'], dtype='object')

In [14]:
#dummy variables for QUADRANT
#get_dummies will auto-drop columns that dummies were created from
df = pd.get_dummies(data=df, columns=['QUADRANT'])
df.head()

,PRICE,BEDRM,BATHRM,HF_BATHRM,CNDTN,AYB,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
0,1095000.0,4,4,0,Good,1910.0,0,1,0,0
1,NaN,5,3,1,Good,1898.0,0,1,0,0
2,2100000.0,5,3,1,Very Good,1910.0,0,1,0,0
3,1602000.0,5,3,1,Good,1900.0,0,1,0,0
4,NaN,3,2,1,Good,1913.0,0,1,0,0

In [15]:
df=df.dropna()
df.head()

,PRICE,BEDRM,BATHRM,HF_BATHRM,CNDTN,AYB,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
0,1095000.0,4,4,0,Good,1910.0,0,1,0,0
2,2100000.0,5,3,1,Very Good,1910.0,0,1,0,0
3,1602000.0,5,3,1,Good,1900.0,0,1,0,0
5,1950000.0,5,3,2,Good,1913.0,0,1,0,0
7,1050000.0,4,3,1,Average,1906.0,0,1,0,0

In [16]:
#df=df.drop('CNDTN', axis=1)
df

,PRICE,BEDRM,BATHRM,HF_BATHRM,CNDTN,AYB,QUADRANT_NE,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
0,1095000.0,4,4,0,Good,1910.0,0,1,0,0
2,2100000.0,5,3,1,Very Good,1910.0,0,1,0,0
3,1602000.0,5,3,1,Good,1900.0,0,1,0,0
5,1950000.0,5,3,2,Good,1913.0,0,1,0,0
7,1050000.0,4,3,1,Average,1906.0,0,1,0,0
8,1430000.0,3,3,1,Very Good,1908.0,0,1,0,0
14,1325000.0,3,3,1,Very Good,1917.0,0,1,0,0
16,1240000.0,3,3,1,Very Good,1908.0,0,1,0,0
19,592250.0,3,3,1,Good,1908.0,0,1,0,0
20,33232.0,5,3,1,Very Good,1880.0,0,1,0,0
22,907400.0,3,1,0,Good,1880.0,0,1,0,0
23,1065000.0,3,2,1,Very Good,1880.0,0,1,0,0
24,1100000.0,3,2,1,Good,1880.0,0,1,0,0
25,20000.0,4,1,0,Good,1880.0,0,1,0,0
27,703700.0,3,3,0,Average,1900.0,0,1,0,0
29,1210000.0,3,3,1,Very Good,1900.0,0,1,0,0
32,130500.0,2,2,1,Good,1890.0,0,1,0,0
37,339500.0,4,2,2,Good,1800.0,0,1,0,0
40,1050000.0,4,3,1,Good,1800.0,0,1,0,0
41,1550000.0,4,3,1,Very Good,1880.0,0,1,0,0
42,1599900.0,4,3,1,Good,1890.0,0,1,0,0
43,1700000.0,4,3,1,Excellent,1800.0,0,1,0,0
44,1700000.0,4,3,2,Very Good,1800.0,0,1,0,0
45,450000.0,5,3,1,Good,1890.0,0,1,0,0
46,846000.0,4,3,1,Average,1800.0,0,1,0,0
48,348500.0,3,2,1,Average,1976.0,0,1,0,0
50,849000.0,3,2,1,Good,1976.0,0,1,0,0
52,1312000.0,4,3,1,Good,1890.0,0,1,0,0
54,390000.0,2,1,1,Good,1900.0,0,1,0,0
55,772500.0,3,3,1,Good,1890.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
106630,60700.0,4,2,0,Average,1980.0,0,0,1,0
106631,180000.0,4,2,0,Average,1980.0,0,0,1,0
106632,285000.0,3,1,1,Good,1980.0,0,0,1,0
106633,67100.0,4,2,0,Average,1980.0,0,0,1,0
106637,73000.0,4,2,0,Average,1980.0,0,0,1,0
106638,109950.0,4,2,0,Average,1980.0,0,0,1,0
106641,350000.0,4,2,1,Good,1980.0,0,0,1,0
106642,66675.0,3,1,1,Average,1980.0,0,0,1,0
106645,180000.0,2,1,0,Average,1936.0,0,0,1,0
106646,193000.0,2,1,0,Average,1938.0,0,0,1,0
106650,336000.0,5,2,0,Good,1939.0,0,0,1,0
106651,90000.0,2,1,1,Average,1939.0,0,0,1,0
106653,90000.0,2,1,0,Good,1911.0,0,0,1,0
106654,106000.0,2,1,0,Average,1911.0,0,0,1,0
106656,227000.0,3,2,1,Good,1911.0,0,0,1,0
106657,140496.0,3,2,1,Good,1911.0,0,0,1,0
106662,120000.0,3,1,1,Average,1976.0,0,0,1,0
106663,109256.0,3,1,1,Average,1976.0,0,0,1,0
106664,230000.0,3,1,1,Good,1976.0,0,0,1,0
106666,215000.0,3,1,1,Good,1976.0,0,0,1,0
106668,205000.0,3,2,1,Average,1976.0,0,0,1,0
106672,100000.0,6,3,0,Average,1954.0,0,0,0,1
106673,103000.0,6,3,0,Good,1954.0,0,0,0,1
106682,118000.0,8,3,0,Good,1953.0,0,0,0,1
106683,1.0,6,3,0,Average,1953.0,0,0,0,1
106687,95000.0,4,2,0,Average,1953.0,0,0,0,1
106688,185000.0,4,2,0,Very Good,1953.0,0,0,0,1
106692,100000.0,5,2,0,Average,1953.0,0,0,0,1
106694,215000.0,4,2,0,Good,1953.0,0,0,0,1
106695,140000.0,4,2,0,Very Good,1953.0,0,0,0,1

In [17]:
#extract target variable
#make copy of 'PRICE' column
y = df['PRICE']

In [18]:
#copy of df without 'PRICE' column
X = df.drop(['PRICE'], axis=1)

In [19]:
#copy of df without 'CNDTN' column
X = df.drop(['CNDTN'], axis=1)

In [20]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
#80% for training data, 20% for test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15)

In [ ]:
#build logistic regression model
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

In [ ]:
#accuracy score of model using training data
LogReg.score(X_train, y_train)

In [ ]:
#generate prediction values
y_pred = LogReg.predict(X_test)

In [ ]:
#Confusion matrix shows which values model predicted correctly vs incorrectly

cm = pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted Incorrect Price', 'Predicted Price'],
    index=['True Incorrect Price', 'True Price']
)

cm

In [ ]:
#accuracy score of model on test data
LogReg.score(X_test, y_test)

In [ ]:
#from precision column, model is better at predicting passengers that do not survive
print(classification_report(y_test, y_pred))